.main {
  width: 100%;
  padding: 120px 140px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  div {
    width: 48%;
  }
}
@media only screen and  (max-width: 1605px){
  .main {
    padding: 120px 60px!important;
  }
}