.main {
  min-height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0px 60px 0px;

  .container {
    height: 750px;
    width: 1650px;
    position: relative;

    border-radius: 11px;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);

    display: flex;
    align-items: center;
    justify-content: center;

    .top_fig {
      width: 300px;
      position: absolute;
      top: 0px;
      right: 0px;
    }

    .bot_fig {
      width: 300px;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }

    .container2 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90%;
      width: 100%;
      z-index: 5;

      .left_side {
        width: 25%;
        height: 100%;
        background-image: url("../../assets/images/profile_bg1.png");
        background-color: white;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px 50px 0px 0px;

        border: solid 1px #707070;
        border-radius: 14px;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
          height: 110px;
          width: 110px;
          object-fit: cover;
          border-radius: 500px;
          border: solid 4px transparent;
          outline: solid 4px red;
        }

        h2 {
          margin: 20px 0px 10px 0px;
          text-align: center;
          font-family: "Montserrat";
          font-size: 25px;
          font-weight: 600;
          color: black;
        }

        p {
          margin: 10px 0px 30px 0px;
          text-align: center;
          font-family: "Montserrat";
          font-size: 17px;
          font-weight: 400;
          color: black;
        }
      }

      .right_side {
        height: 80%; // mb3d na7eha
        width: 60%;
        background-color: white;
        border-radius: 14px;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);

        padding: 32px 28px;

        display: flex;
        flex-direction: column;

        .header {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0px 0px 20px 0px;
          border-bottom: solid 1px rgba($color: #707070, $alpha: 0.15);

          .button {
            background-color: transparent;
            color: black;
            padding: 16px 30px;
            margin: 0px 10px 0px 0px;
            border-radius: 10px;

            font-family: "Montserrat";
            font-size: 17px;
            font-weight: 400;
            cursor: pointer;
          }

          //   .button:hover {
          //     background-color: rgba($color: #ff0000, $alpha: 0.08);
          //     color: red;
          //   }

          .active {
            background-color: rgba($color: #ff0000, $alpha: 0.08);
            color: red;
          }
        }

        .body {
          flex-grow: 1;
          padding: 20px 0px 0px 0px;
        }
      }
    }
  }
}

.profile {
  width: 100%;
  height: 100%;

  .info {
    margin: 0px 0px 40px 0px;

    h4 {
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 400;
      margin: 0px 0px 5px 0px;
      color: #0d1b2a;
    }

    h2 {
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: 500;
      margin: 0px 0px 10px 0px;
      color: black;
      margin: 0px;
    }
    .notif {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.votre_plan {
  width: 100%;
  height: 100%;

  .actual {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: black;
  }

  .change {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    color: red;
    cursor: pointer;
  }

  .plan {
    h2 {
      font-size: 32px;
      margin: 0px 0px 0px 0px;
      font-weight: 600;
      color: black;
      text-align: left;
    }
  }

  .caract {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0px 15px 0px;

    .img_cont {
      width: 20px;
      margin: 0px 10px 0px 10px;

      display: flex;
      align-items: center;
      justify-content: center;

      .available {
        height: 15px;
      }

      .not_available {
        height: 14px;
      }
    }

    span {
      font-size: 15px;
      font-weight: 400;
    }
  }
}
