.main {
  background-image: url("../../../../assets/images/section2.1.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .details {
    width: 50%;
    padding: 250px 30px 250px 130px;
    color: white;
    

    h1 {
      font-size: 45px;
      font-weight: 600;
      margin: 0px;
      font-family: "Montserrat";
    }

    p {
      font-size: 26px;
      font-weight: 300;
      margin: 30px 0px 40px 0px;
      font-family: "Montserrat";
    }
  }

  .image {
    width: 50%;
    img {
      width: 100%;
    }
  }
}
@media only screen and  (max-width: 1605px){
  .details {
    padding: 150px 30px 150px 60px!important;
  }
}