.main {
  width: 100%;
  padding: 70px 160px 40px;

  background-image: url("../../assets/images/footer.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .topside {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .logo {
      margin: 0px 70px 0px 0px;
      height: 200px;
    }

    .content {
      flex-grow: 1;
      .links {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px 0px 70px 0px;
        margin: 0px 0px 20px 0px;
        border-bottom: solid 3px #fff;
        width: fit-content;

        .group {
          margin: 0px 70px 0px 0px;
          h2 {
            font-size: 21px;
            font-weight: 700;
            margin: 0px 0px 20px 0px;
            font-family: "Montserrat";
            color: white;
          }
          span {
            display: block;
            font-size: 18px;
            font-weight: 300;
            margin: 0px 0px 10px 0px;
            font-family: "Montserrat";
            color: white;
          }
        }
      }

      .external_links {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .externals {
          margin: 0px 60px 0px 0px;
          h2 {
            font-size: 19px;
            font-weight: 500;
            color: white;
            font-family: "Montserrat";
            margin: 0px 0px 20px 0px;
          }

          .rxs {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .rx {
              height: 40px;
              width: 40px;
              font-size: 20px;
              color: white;
              border-radius: 500px;
              background-color: black;
              margin: 0px 10px;

              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .copyrights {
    border-top: solid 3px white;
    width: fit-content;
    margin: 30px 0px 0px 0px;
    p {
      width: fit-content;
      color: white;
      font-size: 18px;
      font-weight: 400;
      word-spacing: 5px;
      letter-spacing: 1px;
    }
  }
}

.select_lang {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 30px;
    margin: 0px 5px 0px 0px;
  }
  select {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
  }
  option {
    color: black;
    font-size: 18px;
    border: none;
    outline: none;
  }
}
